body {
    background-color: black;
}
#controls {
    position: absolute;
    padding: 15px;
    left: 15px;
    top: 15px;
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    align-items: center;
    align-content: center;
}

#controls * {
    margin-left: 5px;
    margin-right: 5px;
}

#controls input[type="number"] {
    width: 40px;
}

#back-button {
    position: absolute;
    right: 15px;
    top: 15px;
    background: rgba(255,255,255, 0.6);
    padding: 15px;
    z-index: 2;
}

#image {
    display: none;
}