body {
    background-image: url("back.gif");
    background-repeat: repeat;
    font-family: monospace;
    color: white;
    background-color: black;
}

#container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
#menu {
    height: 100%;
    width: 170px;
    position: absolute;
    left: 0px;
}
#menu-sym {
    width: 112px;
    margin: auto;
    margin-top: 13px;
}
#main {
    width: 620px;
    height: 100%;
    position: absolute;
    right: 0px;
    border: 8px ridge white;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.btn {
    background-image: url("btn.gif");
    width: 170px;
    height: 40px;
    margin-bottom:5px;
    margin-top:5px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display:block;
    text-decoration: none;
    color: inherit;
}
.btn:hover {
    color:#99CCFF;
    margin-left: 5px;
}
.blog.item {
    border-bottom: 1px dashed white;
    padding-bottom: 15px;
    padding-top: 10px;
}
.blog.item .date {
    text-align: right;
    color: #69C;
    font-weight: bold;
}
.blog.item img {
    padding: 10px;
    margin: auto;
    display: block;
}
.blog.item h3 {
    color: #FFFFCC;
}
.inner-menu {
    width: 170px;
    margin: auto;
    border: 4px double;
    padding: 5px;
}
.gallery-item {
    text-align: center;
    display: block;
    color: inherit;
}
.spoiler {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 1s;
}
.spoiler:hover {
    background-color: inherit;
    border: 1px solid white;
}